.inner_container:before, .inner_container:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
.inner_container:after { clear: both; }
.inner_container { zoom: 1; width: 102%; margin-left: -1%; }

[class*="col_"] { display: inline; float: left; margin-right: 1%; margin-left: 1%; }
.col_1of4 { width: 23%; }
.col_2of4 { width: 48%; }
.col_3of4 { width: 73%; }
.col_1of2 { width: 48%; }
.col_1of3 { width: 31.33333333333333%; }
.col_2of3 { width: 64.6666666666666%; }
.col_1of1 { width: 98%; }
.col_1of5 { width: 18%; }
.col_2of5 { width: 38%; }
.col_3of5 { width: 58%; }
.col_4of5 { width: 78%; }

@media (max-width: 600px) {
	[class*="col_"] { width: 98%; }
}

.container { margin-left: auto; margin-right: auto; width: 1100px; }

[class*="grid"] { display: inline; float:left; margin-left: 10px; margin-right: 10px; }
[class*="push"],[class*="pull"] { position: relative; }
input[class*="grid"], select[class*="grid"], textarea[class*="grid"] { float: none; margin-left: 0; margin-right:0; }

.alpha { margin-left: 0; }
.omega { margin-right: 0; }

.container .grid_1 { width: 70px; }
.container .grid_2 { width: 160px; }
.container .grid_3 { width: 250px; }
.container .grid_4 { width: 340px; }
.container .grid_5 { width: 430px; }
.container .grid_6 { width: 520px; }
.container .grid_7 { width: 610px; }
.container .grid_8 { width: 700px; }
.container .grid_9 { width: 790px; }
.container .grid_10 { width: 880px; }
.container .grid_11 { width: 970px; }
.container .grid_12 { width: 1060px; }
input.grid_1, textarea.grid_1, .uneditable-input.grid_1 { width: 70px; }
input.grid_2, textarea.grid_2, .uneditable-input.grid_2 { width: 160px; }
input.grid_3, textarea.grid_3, .uneditable-input.grid_3 { width: 250px; }
input.grid_4, textarea.grid_4, .uneditable-input.grid_4 { width: 340px; }
input.grid_5, textarea.grid_5, .uneditable-input.grid_5 { width: 430px; }
input.grid_6, textarea.grid_6, .uneditable-input.grid_6 { width: 520px; }
input.grid_7, textarea.grid_7, .uneditable-input.grid_7 { width: 610px; }
input.grid_8, textarea.grid_8, .uneditable-input.grid_8 { width: 700px; }
input.grid_9, textarea.grid_9, .uneditable-input.grid_9 { width: 790px; }
input.grid_10, textarea.grid_10, .uneditable-input.grid_10 { width: 880px; }
input.grid_11, textarea.grid_11, .uneditable-input.grid_11 { width: 970px; }
input.grid_12, textarea.grid_12, .uneditable-input.grid_12 { width: 1060px; }

.container .prefix_1 { padding-left: 70px; }
.container .prefix_2 { padding-left: 160px; }
.container .prefix_3 { padding-left: 250px; }
.container .prefix_4 { padding-left: 340px; }
.container .prefix_5 { padding-left: 430px; }
.container .prefix_6 { padding-left: 520px; }
.container .prefix_7 { padding-left: 610px; }
.container .prefix_8 { padding-left: 700px; }
.container .prefix_9 { padding-left: 790px; }
.container .prefix_10 { padding-left: 880px; }
.container .prefix_11 { padding-left: 970px; }

.container .suffix_1 { padding-right: 70px; }
.container .suffix_2 { padding-right: 160px; }
.container .suffix_3 { padding-right: 250px; }
.container .suffix_4 { padding-right: 340px; }
.container .suffix_5 { padding-right: 430px; }
.container .suffix_6 { padding-right: 520px; }
.container .suffix_7 { padding-right: 610px; }
.container .suffix_8 { padding-right: 700px; }
.container .suffix_9 { padding-right: 790px; }
.container .suffix_10 { padding-right: 880px; }
.container .suffix_11 { padding-right: 970px; }

.container .push_1 { left: 70px; }
.container .push_2 { left: 160px; }
.container .push_3 { left: 250px; }
.container .push_4 { left: 340px; }
.container .push_5 { left: 430px; }
.container .push_6 { left: 520px; }
.container .push_7 { left: 610px; }
.container .push_8 { left: 700px; }
.container .push_9 { left: 790px; }
.container .push_10 { left: 880px; }
.container .push_11 { left: 970px; }

.container .pull_1 { left: -70px; }
.container .pull_2 { left: -160px; }
.container .pull_3 { left: -250px; }
.container .pull_4 { left: -340px; }
.container .pull_5 { left: -430px; }
.container .pull_6 { left: -520px; }
.container .pull_7 { left: -610px; }
.container .pull_8 { left: -700px; }
.container .pull_9 { left: -790px; }
.container .pull_10 { left: -880px; }
.container .pull_11 { left: -970px; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:before, .clearfix:after,  .container:before, .container:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0;
}
.clearfix:after, .container:after { clear: both; }
.clearfix, .container { zoom: 1; }


@media screen and (max-width:767px) {  

.container { margin-left: auto; margin-right: auto; width: 90%; }

[class*="grid"] { display: inline; float:left; margin-left: auto; margin-right: auto; }

.container [class*="grid"] { width:100%; }
.container [class*="prefix"] { padding-left:0; }
.container [class*="suffix"] { padding-right:0; }
.container [class*="push"] { left:0; }
.container [class*="pull"] { left:0; }

}

