     /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      *, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: sub;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ebebeb;
  padding-top: 20px;
}

.btn {
  display: inline-block;
  padding: 6px 14px;
  background: #f2f2f2;
  border-radius: 3px;
  color: #7a7a7a;
  transition: background .3s ease, color .3s ease;
  text-decoration: none;
}
.btn:hover {
  background: #e5e5e5;
  color: #929797;
}
.btn.btn-primary {
  background: #5E7DAC;
  color: rgba(255, 255, 255, 0.9);
}
.btn.btn-primary:hover, .btn.btn-primary.active {
  background: #1E4E95;
}
.btn.btn-large {
  padding: 12px 28px;
}
.btn.btn-caps {
  text-transform: uppercase;
}
.btn.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}



.checkbox {
  color: #ccc;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 0.6875em;
  margin-bottom: 7px;
  display: inline-block;
}

.box {
  background: #f9f9f9;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.box h2 {
  color: #5E7DAC;
  font-size: 0.875em;
}
.box p {
  font-size: 0.9em;
  color: #7d7d7d;
}

.locations {
  padding: 30px;
  text-align: center;
}
.locations .avatar {
  border-radius: 50%;
}
.locations .avatar img {
  border-radius: 50%;
}
.locations .details {
  margin-top: 30px;
}
.locations .btn {
  margin-top: 30px;
}

.calendar {
  text-align: center;
}
.calendar .header {
  padding: 10px 0;
}
.calendar [class*="icon-"] {
  color: #5E7DAC;
  position: relative;
  top: 2px;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
}
.calendar .days {
  background: #5E7DAC;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}
.calendar .days ul {
  margin: 0;
  padding: 0;
}
.calendar .days li {
  display: inline-block;
  color: #fff;
  padding: 5px 0;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 767px) {
  .calendar .days li {
    width: 20px;
    height: 20px;
  }
}
.calendar .days li.next, .calendar .days li.previous {
  color: rgba(0, 0, 0, 0.2);
}

.nav a {
  text-decoration: none;
  color: #cccccc;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  font-size: 0.75em;
}
.nav a:hover {
  color: #5E7DAC;
}
.nav [class*="icon-"] {
  font-size: 2em;
  margin-bottom: 5px;
  display: inline-block;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.nav li {
  display: inline-block;
}
.nav li a {
  display: block;
  padding: 20px 18px;
}

.weather .header {
  border-radius: 5px 5px 0 0;
  padding: 40px 0;
  background: #5E7DAC;
  text-align: center;
  color: #fff;
  font-size: 4.125em;
}
.weather [class*="icon-"] {
  position: relative;
  top: 2px;
}
.weather article {
  text-align: center;
  padding: 5px 0;
}

.video {
  position: relative;
  cursor: pointer;
}
.video:before {
  content: '';
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  transition: background .3s ease;
}
.video:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 2px;
  border: 10px solid transparent;
  border-left: 10px solid rgba(255, 255, 255, 0.8);
}
.video:hover:before {
  background: rgba(255, 255, 255, 0.3);
}
.video img {
  border-radius: 5px;
}

.post img {
  border-radius: 5px 5px 0 0;
}
.post .details {
  padding: 10px 20px;
}
.post .details p {
  line-height: 1.5em;
}

.audio {
  position: relative;
  height: 120px;
}
.audio .image {
  position: absolute;
  top: 0;
  left: 0;
}
.audio .image img {
  border-radius: 5px 0 0 5px;
}
.audio .details {
  padding: 10px 0;
  margin-left: 140px;
}
.audio .actions {
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.audio .actions .btn {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  margin-left: 5px;
  padding: 5px 6px;
  color: #FFF;
}
.audio .player .bar {
  margin: 30px 0 0;
  height: 4px;
  background: #cccccc;
  width: 60%;
  border-radius: 2px;
}
.audio .player .bar .progress {
  width: 45%;
  background: #5E7DAC;
  border-radius: 2px;
  height: 4px;
  position: relative;
}
.audio .player .bar .progress:before {
  content: attr(data-time);
  background: #5E7DAC;
  display: inline;
  position: absolute;
  font-size: 0.6875em;
  color: #fff;
  padding: 4px 6px;
  border-radius: 3px;
  right: -14px;
  bottom: 9px;
}
.audio .player .bar .progress:after {
  content: '';
  border: 5px solid transparent;
  border-top: 5px solid #5E7DAC;
  position: absolute;
  right: -3px;
  bottom: 0px;
}

.find {
  padding: 10px;
}

a:hover {
    text-decoration: none;
}

.floatright {
  float:right;
}

.uk-button-largeBalzac {
  min-height: 40px;
  padding: 0 15px;
  line-height: 40px;
  font-size: 11.5px;
}

.uk-button:hover,
.uk-button:focus {
  background-color: #5E7DAC;
  color: #ffffff;
  /* 2 */
  outline: none;
  /* 3 */
  text-decoration: none;
}
/* Active */
.uk-button:active,
.uk-button.uk-active {
  background-color: #1E4E95;
  color: #ffffff;
}

.uk-tooltip{display:none;position:absolute;z-index:1030;-moz-box-sizing:border-box;box-sizing:border-box;max-width:200px;padding:5px 8px;background:#333;color:rgba(255,255,255,.7);font-size:12px;line-height:18px;text-align:center}.uk-tooltip:after{content:"";display:block;position:absolute;width:0;height:0;border:5px dashed #333}.uk-tooltip-top-left:after,.uk-tooltip-top-right:after,.uk-tooltip-top:after{bottom:-5px;border-top-style:solid;border-bottom:none;border-left-color:transparent;border-right-color:transparent;border-top-color:#333}.uk-tooltip-bottom-left:after,.uk-tooltip-bottom-right:after,.uk-tooltip-bottom:after{top:-5px;border-bottom-style:solid;border-top:none;border-left-color:transparent;border-right-color:transparent;border-bottom-color:#333}.uk-tooltip-bottom:after,.uk-tooltip-top:after{left:50%;margin-left:-5px}.uk-tooltip-bottom-left:after,.uk-tooltip-top-left:after{left:10px}.uk-tooltip-bottom-right:after,.uk-tooltip-top-right:after{right:10px}.uk-tooltip-left:after{right:-5px;top:50%;margin-top:-5px;border-left-style:solid;border-right:none;border-top-color:transparent;border-bottom-color:transparent;border-left-color:#333}.uk-tooltip-right:after{left:-5px;top:50%;margin-top:-5px;border-right-style:solid;border-left:none;border-top-color:transparent;border-bottom-color:transparent;border-right-color:#333}


/* grid uikit */


/* Sub-objects: `uk-width-*`
 ========================================================================== */
[class*='uk-width'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
/*
 * Widths
 */
/* Whole */
.uk-width-1-1 {
  width: 100%;
}
/* Halves */
.uk-width-1-2,
.uk-width-2-4,
.uk-width-3-6,
.uk-width-5-10 {
  width: 50%;
}
/* Thirds */
.uk-width-1-3,
.uk-width-2-6 {
  width: 33.333%;
}
.uk-width-2-3,
.uk-width-4-6 {
  width: 66.666%;
}
/* Quarters */
.uk-width-1-4 {
  width: 25%;
}
.uk-width-3-4 {
  width: 75%;
}
/* Fifths */
.uk-width-1-5,
.uk-width-2-10 {
  width: 20%;
}
.uk-width-2-5,
.uk-width-4-10 {
  width: 40%;
}
.uk-width-3-5,
.uk-width-6-10 {
  width: 60%;
}
.uk-width-4-5,
.uk-width-8-10 {
  width: 80%;
}
/* Sixths */
.uk-width-1-6 {
  width: 16.666%;
}
.uk-width-5-6 {
  width: 83.333%;
}
/* Tenths */
.uk-width-1-10 {
  width: 10%;
}
.uk-width-3-10 {
  width: 30%;
}
.uk-width-7-10 {
  width: 70%;
}
.uk-width-9-10 {
  width: 90%;
}
/* Phone landscape and bigger */
@media (min-width: 480px) {
  /* Whole */
  .uk-width-small-1-1 {
    width: 100%;
  }
  /* Halves */
  .uk-width-small-1-2,
  .uk-width-small-2-4,
  .uk-width-small-3-6,
  .uk-width-small-5-10 {
    width: 50%;
  }
  /* Thirds */
  .uk-width-small-1-3,
  .uk-width-small-2-6 {
    width: 33.333%;
  }
  .uk-width-small-2-3,
  .uk-width-small-4-6 {
    width: 66.666%;
  }
  /* Quarters */
  .uk-width-small-1-4 {
    width: 25%;
  }
  .uk-width-small-3-4 {
    width: 75%;
  }
  /* Fifths */
  .uk-width-small-1-5,
  .uk-width-small-2-10 {
    width: 20%;
  }
  .uk-width-small-2-5,
  .uk-width-small-4-10 {
    width: 40%;
  }
  .uk-width-small-3-5,
  .uk-width-small-6-10 {
    width: 60%;
  }
  .uk-width-small-4-5,
  .uk-width-small-8-10 {
    width: 80%;
  }
  /* Sixths */
  .uk-width-small-1-6 {
    width: 16.666%;
  }
  .uk-width-small-5-6 {
    width: 83.333%;
  }
  /* Tenths */
  .uk-width-small-1-10 {
    width: 10%;
  }
  .uk-width-small-3-10 {
    width: 30%;
  }
  .uk-width-small-7-10 {
    width: 70%;
  }
  .uk-width-small-9-10 {
    width: 90%;
  }
}
/* Tablet and bigger */
@media (min-width: 768px) {
  /* Whole */
  .uk-width-medium-1-1 {
    width: 100%;
  }
  /* Halves */
  .uk-width-medium-1-2,
  .uk-width-medium-2-4,
  .uk-width-medium-3-6,
  .uk-width-medium-5-10 {
    width: 50%;
  }
  /* Thirds */
  .uk-width-medium-1-3,
  .uk-width-medium-2-6 {
    width: 33.333%;
  }
  .uk-width-medium-2-3,
  .uk-width-medium-4-6 {
    width: 66.666%;
  }
  /* Quarters */
  .uk-width-medium-1-4 {
    width: 25%;
  }
  .uk-width-medium-3-4 {
    width: 75%;
  }
  /* Fifths */
  .uk-width-medium-1-5,
  .uk-width-medium-2-10 {
    width: 20%;
  }
  .uk-width-medium-2-5,
  .uk-width-medium-4-10 {
    width: 40%;
  }
  .uk-width-medium-3-5,
  .uk-width-medium-6-10 {
    width: 60%;
  }
  .uk-width-medium-4-5,
  .uk-width-medium-8-10 {
    width: 80%;
  }
  /* Sixths */
  .uk-width-medium-1-6 {
    width: 16.666%;
  }
  .uk-width-medium-5-6 {
    width: 83.333%;
  }
  /* Tenths */
  .uk-width-medium-1-10 {
    width: 10%;
  }
  .uk-width-medium-3-10 {
    width: 30%;
  }
  .uk-width-medium-7-10 {
    width: 70%;
  }
  .uk-width-medium-9-10 {
    width: 90%;
  }
}
/* Desktop and bigger */
@media (min-width: 960px) {
  /* Whole */
  .uk-width-large-1-1 {
    width: 100%;
  }
  /* Halves */
  .uk-width-large-1-2,
  .uk-width-large-2-4,
  .uk-width-large-3-6,
  .uk-width-large-5-10 {
    width: 50%;
  }
  /* Thirds */
  .uk-width-large-1-3,
  .uk-width-large-2-6 {
    width: 33.333%;
  }
  .uk-width-large-2-3,
  .uk-width-large-4-6 {
    width: 66.666%;
  }
  /* Quarters */
  .uk-width-large-1-4 {
    width: 25%;
  }
  .uk-width-large-3-4 {
    width: 75%;
  }
  /* Fifths */
  .uk-width-large-1-5,
  .uk-width-large-2-10 {
    width: 20%;
  }
  .uk-width-large-2-5,
  .uk-width-large-4-10 {
    width: 40%;
  }
  .uk-width-large-3-5,
  .uk-width-large-6-10 {
    width: 60%;
  }
  .uk-width-large-4-5,
  .uk-width-large-8-10 {
    width: 80%;
  }
  /* Sixths */
  .uk-width-large-1-6 {
    width: 16.666%;
  }
  .uk-width-large-5-6 {
    width: 83.333%;
  }
  /* Tenths */
  .uk-width-large-1-10 {
    width: 10%;
  }
  .uk-width-large-3-10 {
    width: 30%;
  }
  .uk-width-large-7-10 {
    width: 70%;
  }
  .uk-width-large-9-10 {
    width: 90%;
  }
}
.uk-grid > * {
    padding-left: 35px;
  }

/* ========================================================================
   Component: Breadcrumb
 ========================================================================== */
/*
 * 1. Remove default list style
 * 2. Remove whitespace between child elements when using `inline-block`
 */
.uk-breadcrumb {
  /* 1 */
  padding: 0;
  list-style: none;
  /* 2 */
  font-size: 0.001px;
  text-transform: uppercase;
}
/* Items
 ========================================================================== */
/*
 * Reset whitespace hack
 */
.uk-breadcrumb > li {
  font-size: 1rem;
  vertical-align: top;
}
.uk-breadcrumb > li,
.uk-breadcrumb > li > a,
.uk-breadcrumb > li > span {
  display: inline-block;
}
.uk-breadcrumb > li:nth-child(n+2):before {
  content: "|";
  display: inline-block;
  margin: 0 8px;
  color: #f1f1f1;
}
/*
 * Disabled
 */
.uk-breadcrumb > li:not(.uk-active) > span {
  color: #a49d9d;
}

/* BUTTON SHOP
 * Removes inner padding and border in Firefox 4+.
 */
.uk-buttonShop::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Correct inability to style clickable `input` types in iOS.
 * 2. Remove margins in Chrome, Safari and Opera.
 * 3. Remove borders for `button`.
 * 4. Address `overflow` set to `hidden` in IE 8/9/10/11.
 * 5. Correct `font` properties and `color` not being inherited for `button`.
 * 6. Address inconsistent `text-transform` inheritance which is only inherit in Firefox and IE
 * 7. Style
 * 8. `line-height` is used to create a height
 * 9. `min-height` is necessary for `input` elements in Firefox and Opera because `line-height` is not working.
 * 10. Reset button group whitespace hack
 * 11. Required for `a`.
 */
.uk-buttonShop {
  /* 1 */
  -webkit-appearance: none;
  /* 2 */
  margin: 0;
  /* 3 */
  border: none;
  /* 4 */
  overflow: visible;
  /* 5 */
  font: inherit;
  color: #ffffff;
  /* 6 */
  text-transform: none;
  /* 7 */
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 12px;
  background: #1E4E95;
  vertical-align: middle;
  /* 8 */
  line-height: 30px;
  /* 9 */
  min-height: 30px;
  /* 10 */
  font-size: 1rem;
  /* 11 */
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.uk-buttonShop:not(:disabled) {
  cursor: pointer;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 * 3. Required for `a` elements
 */
.uk-buttonShop:hover,
.uk-buttonShop:focus {
  background-color: #5E7DAC;
  color: #ffffff;
  /* 2 */
  outline: none;
  /* 3 */
  text-decoration: none;
}
/* Active */
.uk-buttonShop:active,
.uk-buttonShop.uk-active {
  background-color: #1E4E95;
  color: #ffffff;
}

/* BUTTON UPDATE
 * Removes inner padding and border in Firefox 4+.
 */
.uk-buttonUpdate::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Correct inability to style clickable `input` types in iOS.
 * 2. Remove margins in Chrome, Safari and Opera.
 * 3. Remove borders for `button`.
 * 4. Address `overflow` set to `hidden` in IE 8/9/10/11.
 * 5. Correct `font` properties and `color` not being inherited for `button`.
 * 6. Address inconsistent `text-transform` inheritance which is only inherit in Firefox and IE
 * 7. Style
 * 8. `line-height` is used to create a height
 * 9. `min-height` is necessary for `input` elements in Firefox and Opera because `line-height` is not working.
 * 10. Reset button group whitespace hack
 * 11. Required for `a`.
 */
.uk-buttonUpdate {
  /* 1 */
  -webkit-appearance: none;
  /* 2 */
  margin: 0;
  /* 3 */
  border: none;
  /* 4 */
  overflow: visible;
  /* 5 */
  font: inherit;
  color: #ffffff;
  /* 6 */
  text-transform: none;
  /* 7 */
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 12px;
  background: #444444;
  vertical-align: middle;
  /* 8 */
  line-height: 30px;
  /* 9 */
  min-height: 30px;
  /* 10 */
  font-size: 1rem;
  /* 11 */
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.uk-buttonUpdate:not(:disabled) {
  cursor: pointer;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 * 3. Required for `a` elements
 */
.uk-buttonUpdate:hover,
.uk-buttonUpdate:focus {
  background-color: #373737;
  color: #ffffff;
  /* 2 */
  outline: none;
  /* 3 */
  text-decoration: none;
}
/* Active */
.uk-buttonUpdate:active,
.uk-buttonUpdate.uk-active {
  background-color: #303030;
  color: #ffffff;
}

.uk-form select,
.uk-form textarea,
.uk-form input:not([type]),
.uk-form input[type="text"],
.uk-form input[type="password"],
.uk-form input[type="datetime"],
.uk-form input[type="datetime-local"],
.uk-form input[type="date"],
.uk-form input[type="month"],
.uk-form input[type="time"],
.uk-form input[type="week"],
.uk-form input[type="number"],
.uk-form input[type="email"],
.uk-form input[type="url"],
.uk-form input[type="search"],
.uk-form input[type="tel"],
.uk-form input[type="color"] {
  border-radius: 4px;
}

icons a:hover{
  color:#fff;
}

.uk-form select {
  color: #999999;
}

/* ТЕСТ, изменяются паддинги
@media (min-width: 1220px)
.uk-container {
max-width: 1200px;
padding: 0 5px;
}
 */ 


.uk-container {
  max-width: 1200px;
  padding: 0 0px;
}
 
/* ЗАвершили изменять паддинги  */

/* offers.php отступ сверху для кнопки Отправить Предложение */
#catalog-orders button{
    margin-top: 40px;
}
/*// offers.php отступ сверху для кнопки Отправить Предложение */
#action-info{
    display: inline-block;
    margin-left: 10px;
    height: 16px;
}
span.action-info-load{
    padding-left: 20px;
    background-image: url('../../../api/images/load-16.gif');
}
span.action-info-load,span.action-info-done,span.action-info-error{
    background-position: left;
    background-repeat: no-repeat;
}
span.action-info-done{
    color: green;
}
span.action-info-error{
    color: red;
}
#invoice-info{
    display: block;
}
#invoice-info a{
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

label i {
  color: #999999;
}
